<!doctype html>
<html>
<head>
  <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>The Social Wall</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="../engine/boostrap.css" rel="stylesheet">
  <link rel="stylesheet" href="../engine/ssc.css">
</head>

<body ng-app="socialWall-receiver">

    <div ng-controller="ReceiverCtrl">
    </div>
    
    <div ng-controller="SlideShowCtrl">
        <div class="col-xs-12" ng-if="progress !== 100">
            <progressbar class="progress-striped" value="progress">{{progress | number:0}}%</progressbar>
        </div>
        <img ng-show="loaded" bgImage class="fullBg {{currentAnimation}}" ng-repeat="slide in slides"
             ng-if="isCurrentSlideIndex($index)"
             ng-src="{{slide.link}}">
    
        <ul ng-show="loaded" class="nav nav-pills">
            <li ng-class="{'active':isCurrentAnimation('slide-left-animation')}"><a ng-click="setCurrentAnimation('slide-left-animation')">LEFT</a></li>
            <li ng-class="{'active':isCurrentAnimation('slide-down-animation')}"><a ng-click="setCurrentAnimation('slide-down-animation')">DOWN</a></li>
            <li ng-class="{'active':isCurrentAnimation('fade-in-animation')}"><a ng-click="setCurrentAnimation('fade-in-animation')">FADE</a></li>
        </ul>
    </div>

    <!-- Google Cast API -->
    <script type="text/javascript" src="https://www.gstatic.com/cast/sdk/libs/receiver/2.0.0/cast_receiver.js"></script>
    <script type="text/javascript" src="scripts/connect_bridge.min.js"></script>
    

    
    
    <!-- build:js(./) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="http://code.createjs.com/preloadjs-0.4.1.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.13.1/TweenMax.min.js"></script>
    <<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-animate.min.js"></script>
    <script src="../bower_components/ng-resource/dist/ng-resource.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="../bower_components/es5-shim/es5-shim.js"></script>
    <script src="../bower_components/json3/lib/json3.js"></script>
    <script src="../engine/ui-bootstrap-tpls-0.11.0.min.js"></script>
    

    <script src="../components/version/version.js"></script>
    <script src="../components/version/version-directive.js"></script>
    <script src="../components/version/interpolate-filter.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({app/receiver,app/shared}) scripts/scripts.js -->
    <script src="../shared/scripts/sharedApp.js"></script>
    <script src="../shared/scripts/controllers/header.js"></script>
    <script src="../shared/scripts/directives/heading.js"></script>
    <script src="scripts/receiverApp.js"></script>
    <script src="scripts/controllers/receiver.js"></script>
    <script src="scripts/controllers/sshow.js"></script>
    <script src="scripts/directives/testreceiver.js"></script>
    <script src="scripts/factories/googlecastmessagebus.js"></script>
    <script src="scripts/factories/queueService.js"></script>
    <script src="scripts/factories/DataFactory.js"></script>
    <script src="scripts/factories/rssService.js"></script>
    <script src="scripts/factories/fotozapFactory.js"></script>
    <script src="scripts/factories/connectSDKFactory.js"></script>
    
    
    <!-- endbuild -->
</body>
</html>